body {
  background-color: #222;
  color: #999;
  font-size: 18px;
}

.container {
  padding: 48px 0;
}

.widget {
  background: #333;
  height: 400px;
  width: 400px;
  padding: 48px;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  text-align: center;
  color: rgba(255,255,255,0.7);
}

.widget h1 {
  color: white;
  font-size: 48px;
}

.red {
  background-color: #ec663c;
}

.green {
  background-color: #47bbb3;
}