body {
  background-color: #222;
  color: #999;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
}

h1,h2,h3 { font-family: 'Exo 2', sans-serif; }

.container {
  padding: 0;
}

header h1 {
  text-align: center;
  padding: 24px 0;
  color: white;
  font-size: 42px;
}

.widget {
  background: #333;
  padding: 48px 12px;
  min-height: 300px;
  text-align: center;
  margin: 0 0 24px 0;
  color: rgba(255,255,255,0.7);
}

.last {
  margin-right: 0;
}

.full {
}

.widget .value {
  color: white;
  font-size: 48px;
}

.red {
  background-color: #ec663c;
}

.green {
  background-color: #47bbb3;
}

.blue {
  background-color: #2D4758;
}

.dark {
  background-color: #292929;
}

.aqua {
  background-color: #12b0c5;
}

.chart {
  background: #292929;
  padding: 24px;
  clear: both;
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
