@(message: String)

@main("Dashboard") {

  <div class="row">
    <div class="col-md-4">
      <div data-key="github-status" class="widget dark">
        <p>Showing status for github.com</p>
        <div class="value">LOADING...</div>
      </div>
    </div>

    <div class="col-md-4">
      <div data-key="post-widget" class="widget green">
        <p>Update with Http</p>
        <div class="value">AWAITING...</div>
      </div>
    </div>

    <div class="col-md-4">
      <div data-key="time" class="widget dark">
        <p>The current time is</p>
        <div class="value">LOADING...</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class='chart widget'>
        <div id='chart'></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div data-key="bbc-news" class="widget dark small-text">
          <p>BBC Breaking News</p>
          <div class="value">LOADING...</div>
      </div>
    </div>
  </div>

}
