@(message: String)

@main("Dashboard") {

  <div class="row">
    <div class="col-md-4">
      <div data-key="github-status" class="widget aqua">
        <p>Showing status for github.com</p>
        <div class="value">LOADING...</div>
      </div>
    </div>

    <div class="col-md-4">
      <div data-key="post-widget" class="widget">
        <p>Update with Http</p>
        <div class="value">AWAITING...</div>
      </div>
    </div>

    <div class="col-md-4">
      <div data-key="time" class="widget dark">
        <p>The current time is</p>
        <div class="value">LOADING...</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class='chart widget'>
        <div id='chart'></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div data-key="bbc-news" class="widget dark small-text">
          <p>BBC Breaking News</p>
          <div class="value">LOADING...</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div data-key="" class="widget">
            <p>Active Users</p>
            <div class="value">2329832</div>
        </div>
    </div>

    <div class="col-md-4">
        <div data-key="" class="widget">
            <p>Response Time</p>
            <div class="value">2.342s</div>
        </div>
    </div>

    <div class="col-md-4">
        <div data-key="" class="widget green">
            <p>Text here</p>
            <div class="value">...</div>
        </div>
    </div>
  </div>

}
