@(title: String)(content: Html)

<!doctype html>

<html>
  <head>
    <title>@title</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/vendor/c3.css")'>
    <script src='@routes.Assets.at("javascripts/app.js")'></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="//c3js.org/js/d3.min-3bff8220.js"></script>
    <script src="//c3js.org/js/c3.min-495bf4a1.js"></script>
  </head>
  <body>
    <nav>
      <div class="container">
        Promethius
      </div>
    </nav>
    <div class="container">
      @content
    </div>
  </body>
</html>
